# SPDX-FileCopyrightText: 2017 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
node_modules/
*.cache
*.log
build
vendor
js/
cypress/downloads/
.idea/
tests/coverage/
tests/browser/screenshots/
tests/browser/html_output/
tests/browser/__pycache__/
tests/browser/.pytest_cache/
repos-release.tar.gz
